.box {
  height: 150px;
  border: 4px dotted;
  padding: 20px;
  margin: 20px;
}

/*background color*/
.bg-color {
  background-color: teal;
}

/*background-clip : 범위*/

.clip {
  background-color: orange;
}
.content-box {
  background-clip: content-box;
}

/*기본값*/
.padding-box {
  background-clip: padding-box;
}

.border-box {
  background-clip: border-box;
}

/*background-image
./ : 파일 내부 탐색 , ../ : 파일 외부 탐색 
background-size:cover : 비어있는 공간을 맞춰서 채움
background-size:contain : 이미지를 다 보여주면서 맞춤*/
.bg-image {
  background-image: url(../asset/panda.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*gradient*/
.bg-gradient {
  background: linear-gradient(120deg, pink, blue);
}
.bg-radial {
  background: radial-gradient(circle, pink, blue);
}
