body {
  background: linear-gradient(120deg, #ffab10, rgb(252, 21, 59));
  background-size: all;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box {
  margin: auto;
}

.profile-box {
  width: 380px;
  height: 500px;
  border: 4px solid white;
  margin-top: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url(../asset/hui.png);
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 20px;
}

.huibao {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.txt {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.git {
  box-sizing: border-box;
  width: 300px;
  height: 60px;
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  padding: 16px;

  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.instagram {
  box-sizing: border-box;
  width: 300px;
  height: 60px;
  border: 2px solid white;
  margin-top: 15px;
  border-radius: 10px;
  padding: 14px;

  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
